node_modules/*
build/*
dist/*
test/*
src/examples/*

# Files vendored from upstreams
src/addons/addons/*
!src/addons/addons/json-script-converter/
src/addons/libraries
src/addons/api-libraries
src/addons/generated
